@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* PALETA DE COLORES  */
@theme inline {
  --color-background: #1A1A1A;         /* fondo oscuro, como el fondo del logo */
  --color-foreground: #F5F5F5;         /* texto claro */
  --color-primary: #FFD700;            /* dorado principal para resaltar */
  --color-secondary: #B0B0B0;          /* gris metalizado claro */
  --color-dark: #2C2C2C;               /* gris oscuro */
  --color-gradient-start: #FFD700;
  --color-gradient-end: #B8860B;       /* dorado oscuro, efecto metálico */
}