@import "tailwindcss";

@theme {
  --color-background: #1A1A1A;
  --color-foreground: #F5F5F5;
  --color-primary: #FFD700;
  --color-secondary: #B0B0B0;
  --color-dark: #2C2C2C;
  --color-gradient-start: #FFD700;
  --color-gradient-end: #B8860B;
}


/* Base */
:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
